<!--<footer>
    <div class="footer-top">
        <div class="footer-top-left">
            <div><h1>IDF car rental</h1></div>
            <div class="footer-top-left-links">
                <a href="">Home</a>
                <a href="">About IDF</a>
                <a href="">Our Cars</a>
                <a href="">How to get host</a>
                <a href="">FAQ</a>
                <a href="">Private</a>
            </div>
            <div width="23px">
              <form [formGroup]="form">
                <app-custom-input
                  label="Nom d'utilisateur"
                  placeholder="Entrez votre nom"
                  [control]="getUsernameControl()"
                  [required]="true"
                  leftIconSrc="icones/event/calendar.svg"
                  rightIconSrc="path/to/clear-icon.svg"
                  (rightIconClick)="clearUsername()"
                ></app-custom-input>
              </form>
            </div>
        </div>
        <div class="footer-top-right">
            <div class="footer-top-right-form">
                <label for="address1">Stay up to date</label>
                <div>
                    <span><img src="assets/hero/location.svg" alt=""></span>
                    <input type="email" id="stay-up-to-date" name="stay-up-to-date" placeholder="Email" required>
                </div>
            </div>
            <button>Send</button>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 IDF. All rights reserved.</p>
        <div class="footer-bottom-links">
            <a href="">Terms</a>
            <a href="">Privacy</a>
            <a href="">Cookies</a>
        </div>
    </div>
</footer>-->