<footer>
    <div class="footer-top">
        <div class="footer-top-left">
            <div><h1>IDF car rental</h1></div>
            <div class="footer-top-left-links">
                <a href="">Home</a>
                <a href="">About IDF</a>
                <a href="">Our Cars</a>
                <a href="">How to get host</a>
                <a href="">FAQ</a>
                <a href="">Private</a>
            </div>
        </div>
        <div class="footer-top-right">
            <form [formGroup]="form">
                <app-custom-input
                  label="stay up to date"
                  placeholder="email"
                  [control]="getUsernameControl()"
                ></app-custom-input>
            </form>
            <div class="footer-btn">
                <app-custom-button>Send</app-custom-button>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 IDF. All rights reserved.</p>
        <div class="footer-bottom-links">
            <a href="">Terms</a>
            <a href="">Privacy</a>
            <a href="">Cookies</a>
        </div>
    </div>
</footer>