// car-card.component.scss
.card {
    width: clamp(250px, 90vw, 280px);
    max-height: clamp(300px, 80vh, 341px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: box-shadow 0.3s ease;
  
    &:hover {
      box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    }
  
    .carousel-item-active {
      position: relative;
    }
  
    .base-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  
    .overlay-image {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 25px;
      height: 25px;
      object-fit: cover;
      border-radius: 8px;
      cursor: pointer;
      transition: transform 0.2s ease;
  
      &:hover {
        transform: scale(1.1);
      }
  
      &.liked {
        filter: invert(30%) sepia(80%) saturate(1000%) hue-rotate(320deg);
      }
    }
  
    .card-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .card-body-one {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
  
      .card-text,
      .card-icons-info {
        display: flex;
        align-items: center;
        gap: 8px;
      }
  
      .card-icons {
        display: flex;
        align-items: center;
        gap: 8px;
      }
  
      .card-price {
        text-align: right;
      }
    }
  }